

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
    /* font-family: 'Popins', sans-serif; */
}

body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #292929; */
    font-family: 'Open Sans', sans-serif;


    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 100vh; */
    /* background: #fff ; */
    /* background: linear-gradient(88deg, #71b7e6, #9b59b6 ); */
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.hero-section{
    margin-top: 105px;
}
.wrap{
    display: flex;
}
.hero{
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.site-logo{
    margin-bottom: 15px;
}
.hero-title{
    margin-bottom: 36px;
    /* position: absolute; */
    width: 355px;
    height: 150px;
    /* left: 278px; */
    /* right: -278px; */
    /* top: 280px; */
    /* bottom: 161px; */

    color: rgb(10, 3, 60);
    font-family: Metropolis;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    /* text-align: left; */
}
.to-do-img{
    margin-bottom: 30px;
}
.sliders-img{
    display: flex;
    align-items: center;
    justify-content: start;
    /* text-align: center; */
    margin-bottom: 104px;
}


.line-img{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* text-align: center; */
    /* margin: auto; */
}

.google-input{
    width: 370px;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}




.field-group {
    width: 600px;
    position: relative;
}
.input-field {
    width: 100%;
    outline: 0;
    border: 2px solid #999;
    border-radius: 7px;
    padding: 10px;
    padding-left: 60px;
    background: transparent;
    font-size: 1em;
    color: red;
}
.input-field ::placeholder {
    color: green;
}
.icon {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 60px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: seagreen;
    font-size: 1.6em;
}

.input-field:focus {
    color: blue;
    border-color: blue;
}
.input-field:focus ~ .icon {
    color: #fff;
}












/* .user-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* .input-box{
    width: calc(100% / 2 - 20px);
} */
/* .input{
    height: 45px;
    width: 100%;
} */
/* form .user-details .input-box {
    width: calc(100% / 2 - 20px);
}
.user-details .input-box input {
    height: 45px;
    width: 100%;
}
.details{
    
} */

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(88deg, #71b7e6, #9b59b6 );
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
} */



/* .eduvi-section{
    margin-top: 200px;
}
.header{
    margin-top: 105px;
}
.eduvi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eduvi__wrap{
    margin-right: 87px;
}
.eduvi__content{
    width: 355px;
}
.eduvi__title{
    margin-bottom: 36px;
    width: 355px;
    color: rgb(10, 3, 60);
    font-size: 40px;
    line-height: 50px;
} */
/* .line-img{
    Line
    position: absolute;
    width: 1px;
    height: 641px;
    left: 720px;
    right: 719px;
    top: 220px;
    bottom: 219px;
} */


